.device {
    padding: 1.5rem;
    text-align: center;
}

.device__title {
    font-size: 3rem;
    font-weight: 700;
}

.device__menu-list {
    align-items: center;
    display: flex;
    gap: 68px;
    justify-content: center;
    padding: 2rem 0;
}

.device__menu-item {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.device__menu-span {
    font-size: 2rem;
    font-weight: 700;
}

@media screen and (max-width: 1024px) {
    .device__menu-list {
        flex-wrap: wrap;
    }
}